# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.o
*.d

# Executables
*.exe
*.out
*.app

# back up files
*~

# objects
abd2d

# test directory
/test
nbproject/

# compressed files
*.bz2
*.rar
*.7z
*.gz
*.tar

# other files
convertGBK.sh
convertUTF8.sh
csrc/
nsrc/
q.log
reportRes.m
res4/
res5/
res6/
resFormula4/
resultForFormulaFive/
resultForFormulaFour/
run0507/
runold/
s.diff
